<!-- views/info.ejs -->
<!-- The first/index page -->
<!DOCTYPE html>
<html lang="en">
!-- User head in partials/head.ejs -->
<head>
  <% include ../partials/common/head %>
</head>
<!-- Main body -->
<header>
  <% include ../partials/common/header %>
</header>
<body>
  <main class="container">
    <div class="jumbotron">
      <h1>
        Hello World!
      </h1>
      <h2>Welcome to the Voting/CountMeUp services</h2>
      <p>This page is for UI Design Tests</p>
      <p>Voting/CountMeUp Pages: <a href="/voting/main"> Start voting and count candidates up!!!</a></p>
    </div>
  </main>
  <!-- User footer in partials/common/footer.ejs -->
</body>

<footer>
  <% include ../partials/common/footer %>
</footer>
</html>
