<!-- views/info.ejs -->
<!-- The first/index page -->
<!DOCTYPE html>
<html lang="en">
<!-- User head in partials/head.ejs -->
<head>
  <% include ../partials/common/head %>
</head>
 <!-- Main body -->
 <body>
<header>
  <% include ../partials/common/header %>
</header>
   <main class="container">
     <div class="jumbotron">
     </div>
   </main>
 <!-- User footer in partials/common/footer.ejs -->
<footer>
  <% include ../partials/common/footer %>
</footer>
 </body>

</html>
