<!-- views/partials/footer.ejs -->
<div class="text-center">
  <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <h3>
    BBC Technical Challenge - Count Me Up
  </h3>
  <h4> 2017 - 2018 All Rights Reserved</h4>
  <p>The information on this and other pages provided by Hongyi Duan </p>
</div>

<p class="text-center text-muted">© Copyright 2017 - 2018 Hongyi Duan</p>
